.NavBar{
   position: fixed;
   width: 100%;
   height: auto !important;
   background-color:#85ee4d;
   padding-bottom: -5% !important;
}
.icon1{
   font-size: 280% !important;
   color: #F8F8F8;
   
}
.riologo{
   height: 7vh;
 }
   